/* CSS para index */

body.index article {
    background: #eee;
}
body.index h2 {
    margin: 0 0 30px;
}
body.index h3 + .btn,
body.index h4 + .btn {
    float: right;
    margin: -30px 0 0;
}
body.index .action-bar.search-and-filters,
.flex-container,
.modulo-info {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.025);
}
body.index .action-bar.search-and-filters {
    margin: 0 0 30px;   
}
body.index .container {
    margin: 0;
}

/* flex items */
.flex-container {
    background: #fff;
    margin: 0 0 50px;
}
.flex-container > div {
    box-shadow: 0 0 0;
    padding: 35px 25px;
}
    
/* modulos */
.modulo li {
    list-style: none;
    margin: 5px 0 0;
}
    .modulo.modulo-info:not(#calendario-administrativo) li {
        background: #f9f9f9;
    }
    .modulo.modulo-info li:hover {
        background: #eee;
    }
    .modulo.modulo-info li a {
        padding: 10px;
    }
    .modulo.modulo-info li span {
        background: #ef4836;
        border-radius: 3px;
        color: #fff;
        float: right;
        font-weight: 600;
        padding: 2px 5px;
    }
    .modulo.modulo-info li span.text {
        margin: 10px 0 0;
    }
.modulo li a {
    color: #000;
    display: inline-block;
    line-height: 1.2em;
    opacity: 0.7;
    text-decoration: none;
    width: 100%;
}
.modulo li:hover a {
    opacity: 1;
}
.modulo ul {
    padding: 0;    
}
.modulo-info {
    background: #fff;
    overflow: hidden;
    padding: 25px;
}

/* modulo-avisos */
.modulo-avisos {
    padding: 0 0 50px;
}
.modulo-avisos a,
.modulo-avisos p {
    display: block;
    line-height: 1.2em;
    padding: 10px;
    text-decoration: none;
}
.modulo-avisos li {
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.15);
    list-style: none;
    margin: 0 0 7px;
}
.modulo-avisos li:hover {
    background: #fff !important;
}
.modulo-avisos li.error {
    background: #FEEFB4;
}
.modulo-avisos li.error a,
.modulo-avisos li.error p {
    border-left: 4px solid #cc0000;
    color: #cc0000;
}
.modulo-avisos li.info {
    background: #BFDDF2;
}
.modulo-avisos li.info a,
.modulo-avisos li.info p {
    border-left: 4px solid #195F91;
    color: #195F91;
}
.modulo-avisos li.success {
    background: #D6E9C6;
}
.modulo-avisos li.success a,
.modulo-avisos li.success p {
    border-left: 4px solid #468847;
    color: #468847;
}
.modulo-avisos li span {
    color: #cc0000;
    display: block;
    font-size: 90%;
    margin: 5px 0 0;
    text-align: right;
}

/* modulo-indicador */
.modulo-indicador {
    flex-basis: 200px !important;
}
.modulo-indicador a {
    display: block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.modulo-indicador a:hover,
.modulo-indicador a:focus,
.modulo-indicador a:active {
    -webkit-transform: scale(1.1);
    text-decoration: none;
    transform: scale(1.1);
}
.modulo-indicador h5 {
    font-size: 600%;
    margin: 0 !important;
    padding: 0 0 10px !important;
    text-align: center;
}
.modulo-indicador h5.false {
    color: #ef4836;
}
.modulo-indicador h6,
.modulo-indicador p {
    margin: 0;
    text-align: center;
}
.modulo-indicador h6 {
    padding: 0 0 3px;
    text-transform: uppercase;
}

/* modulo-lista */
.modulo-lista {
    display: inline-block;
    margin: 0 0 50px;
    padding: 0;
    width: 100%;
}
.modulo-lista li {
    background: #fff;
    float: left;
    list-style: none;
    margin: 0 0 3px;
    width: 100%;
}
    .modulo-lista li:hover {
        background: #f1f1f1;
    }
.modulo-lista li a {
    color: #000;
    display: block;
    font-size: 105%;
    font-weight: 300;
    line-height: 1.2em;
    padding: 9px;
    text-decoration: none;
}

/* modulo-noticias */
.modulo-noticias {
    padding: 10px 0 0;
}
.modulo-noticias li {
    border-bottom: 1px solid #eee;
    list-style: none;
    margin: 0 0 10px;
    padding: 0 0 10px;
    width: 100%;
}
.modulo-noticias li:last-child {
    border-bottom: 0 none;
}
.modulo-noticias span {
    clear: both;
    color: #666 !important;
    display: inline-block;
    font-size: 90%;
    font-weight: 300;
    width: 100%;
}
.modulo-noticias ul {
    padding: 0;
}

/* secao */
.secao {
    float: left;
}
.secao > div {
    margin: 0 0 50px;
}
.secao h3 {
    font-weight: 400;
    margin: 0;
    padding: 0 0 10px;
}
.secao h4 {
    font-weight: 300;
    margin: 0;
    padding: 0 0 10px;
}
.secao h4 span {
    margin: 3px 0 0;
}
.secao20 {
    width: 20%;
}
.secao25 {
    width: 25%;
}
.secao30 {
    width: 30%;
}
.secao33 {
    width: 33.33%;
}
.secao50 {
    width: 50%;
}
.secao67 {
    width: 66.67%;
}
.secao70 {
    width: 70%;
}
.secao100 {
    width: 100%;
}
.secao-left {
    padding: 0 50px 0 0;
}
.secao-right {
    padding: 0 0 0 50px;
}

/* calendario */
#calendario-administrativo .calendario {
    margin: 0 0 3%;
    min-height: 100px;
    width: 100%;
}
#calendario-administrativo .calendario-referencia li {
    margin: 6px 6px 0 0;
    padding: 2px 5px;
    width: auto;
}
#calendario-administrativo .legenda li {
    font-size: 90%;
}

/* outros */
.iconlist-calendar a {
    background: url("/static/comum/img/icons/iconlist-calendar.png") no-repeat 0 0;
    padding: 0 0 0 20px;
}
.iconlist-money a {
    background: url("/static/comum/img/icons/iconlist-money.png") no-repeat 0 center;
    padding: 0 0 0 20px;
}
.iconlist-user a {
    background: url("/static/comum/img/icons/iconlist-user.png") no-repeat 0 center;
    padding: 0 0 0 20px;
}

/* Para larguras de telas menores que 940px */
@media screen and (max-width: 940px), only screen and (max-device-width: 480px), only screen and (min-device-width: 481px) and (max-device-width: 991px) and (orientation:portrait), only screen and (min-device-width: 481px) and (max-device-width: 991px) and (orientation:landscape) {
    .container > .secao {
        padding: 0 !important;
        width: 100% !important;
    }
    body.index h3,
    body.index h3 + .btn,
    body.index h4 + .btn {
        margin: 0px 0px 5px 0px;
        clear: both;
        float: none;
    }
    .flex-container > div {
        flex-basis: auto;
    }
}