{% load admin_list djtools_templatetags i18n %}

{% if cl.result_count %}
    <div class="pagination">
    
    {% if 1 %}
        <ul>
            {% for i in page_range %}
                {% dt_paginator_number cl i %}
            {% endfor %}
            <li class="next disabled">
                <a style="cursor: default; color: #666">
                    Mostrando {{ cl.result_count }} 
                    {% ifequal cl.result_count 1 %}
                        {{ cl.opts.verbose_name }}
                    {% else %}
                        {{ cl.opts.verbose_name_plural }}
                    {% endifequal %}
                </a>
            </li>
        </ul>
    {% endif %}
    
    {% if show_all_url %}&nbsp;&nbsp;<a href="{{ show_all_url }}" class="showall">{% trans 'Show all' %}</a>{% endif %}
    {% if cl.formset and cl.result_count %}<input type="submit" name="_save" class="default" value="{% trans 'Save' %}"/>{% endif %}
    
    </div>
{% else %}
    <p class="msg alert">Nenhum {{ cl.opts.verbose_name }} encontrado.</p>
{% endif %}
