{% extends "admin/base_site.html" %}
{% load djtools_templatetags %}

{% block extrahead %}
    {{ block.super }}
{% endblock %}

{% block content %}

{% for item in obj_items %}
	{% if item.fieldset %}<h3>{{ item.fieldset }}</h3>{% endif %}
	<table class="info">
		{% for row in item.rows %}
		<tr>
			{% for field in row %}
				<td>{{ field.label }}</td>
				<td colspan="{{ field.colspan }}">{{ field.value|format }}</td>
			{% endfor %}
		</tr>
		{% endfor %}
	</table>
{% endfor %}

{% for inline_title, items in inlines.items %}
    <h3>{{ inline_title }}</h3>
    <table>
        <thead>
            {% for column in items.columns %}
                <th>{{ column }}</th>
            {% endfor %}
        </thead>
        <tbody>
            {% for item in items.items %}
                <tr>
                    {% for val in item %}
                        <td>{{ val }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endfor %}
	
{% endblock %}