{% extends super_template %}

{% block extracss %}
<link rel="stylesheet" href="/static/comum/css/index.css" />
{% endblock %}

{% block bodyclass %} index{% endblock %}

{% block content %}

<h2>Administração do SUAP</h2>

<div class="container">
	<div class="secao secao67 secao-left">
	    <h3>Configurações</h3>
	    <div class="flex-container">
            <div class="modulo modulo-info">
                <h4>Usuários</h4>
                <ul>
                    <li><a href="/djtools/give_permission/">Atribuir Permissão</a></li>
                    <li><a href="/admin/rh/setor/">Setores</a></li>
                    <li><a href="/admin/rh/servidor/">Servidores</a></li>
                    <li><a href="/admin/comum/prestadorservico/">Prestadores de Serviço</a></li>
                    <li><a href="/admin/comum/user/">Usuários</a></li>
                    <li><a href="/admin/auth/group/">Grupos</a></li>
                </ul>
            </div>
    		<div class="modulo modulo-info">
                <h4>SIAPE</h4>
                <ul>
                    <li><a href="/rh/upload_arquivos_extrator/">Upload Arquivos Extrator</a></li>
                    <li><a href="/admin/contracheques/contracheque/importar_do_arquivo/">Importar Fita Espelho do arquivo</a></li>
                </ul>
            </div>
            
            <div class="modulo modulo-info">
                <h4>SCDP</h4>
                <ul>
                    <li><a href="/rh/diarias_passagens/importar_do_arquivo/">Upload Arquivos DW SCDP</a></li>
                </ul>
            </div>
            <div class="modulo modulo-info">
                <h4>SIAPE: Macros</h4>
                <ul>
                    <li><a href="/comum/baixar_macro_siape/">SIAPE Completa</a></li>
                    {% for codigo_instituicao_anterior in codigos_instituicoes %}
                        <li><a href="/comum/baixar_macro_siape/?instituicao_anterior={{codigo_instituicao_anterior}}">SIAPE - PCA - Orgão: {{ codigo_instituicao_anterior }}</a></li>
                    {% endfor %}
                    <li><a href="/comum/baixar_macro_siape_historico_pca/">SIAPE - PCA Histórico</a></li>
                    <li><a href="/comum/baixar_macro_siape/?extracao_sem_posicionamentos_que_estejam_sem_documento_legal=True">SIAPE - Posicionamento PCA - Sem DL associada</a></li>
                    <li><a href="/comum/baixar_macro_siape_personalizavel">Personalizar Macro</a></li>
                </ul>
            </div>
        </div>
	</div>

	<div class="secao secao33">
        <h3>Acesso Rápido</h3>
        <ul class="modulo-lista">
            <li><a href="/admin/ldap_backend/ldapconf/">Autenticação: AD / OpenLDAP</a></li>
            <li><a href="/comum/configuracao/">Configurações</a></li>
            <li><a href="/comum/ver_arquivo_siafi/">SIAFI</a></li>
            <li><a href="/admin/">Django Admin</a></li>
            <li><a href="/admin/ponto/maquina/?ativo__exact=1">Máquinas</a></li>
        </ul>
        
        <h3>Git</h3>
        <pre>{{ git_info }}</pre>
    </div>
    
</div>

{% endblock %}