{% extends super_template %}

{% block content %}

{% if has_perm %}
	<p class="msg alert"><strong>Atenção:</strong> Essa ação acarretará na exclusão do(s) registro(s) a seguir. Caso tenha certeza que deseja removê-lo(s), clique na caixa "Confirmar" e em seguida no botão "Excluir".</p>
{% else %}
	<p class="msg error">Você não possui permissão para excluir esse registro. Contacte o administrador do sistema ou a coordenação de T.I do seu campus.</p>
{% endif %}

<div id="data-to-delete" class="hidden">
	{{ output|safe }}
</div>

{% if form %}
	{% render_form form %}
{% endif %}

<style>
	ul.obj-tree li {
		list-style: none;
	}
	ul.obj-tree li a.obj-tree-toggler {
		padding-left: 20px;
		background: url('/static/djtools/box/img/plus.png') left center no-repeat;
	}
	ul.obj-tree li a.obj-tree-toggler.expandido {
		background: url('/static/djtools/box/img/minus.png') left center no-repeat;
	}
</style>
<script type="text/javascript">
	$(document).ready(function () {
		$('a.obj-tree-toggler').click(function () {
			if ($(this).hasClass('expandido')) {
				$(this).removeClass('expandido');
			} else {
				$(this).addClass('expandido');
			}

			$(this).parent().next('ul.obj-tree').toggle(300);
		});

		$('a.obj-tree-toggler:not(a.obj-tree-toggler:nth(0))').click();
		$('#data-to-delete').removeClass('hidden');
	});
</script>

{% endblock %}
