{% comment %}É o template default renderizado pelo templatetag render_form{% endcomment %}

{% if render_full %}
    {% if form.errors %}
		<p class="errornote">Por favor, corrija os erros abaixo.</p>
	{% endif %}
	{% if form.step %}
		<p class="msg info">Passo <strong>{{ form.step }}</strong> de <strong>{{ form.length }}</strong></p>
	{% endif %}
	<form action="{{ form.ACTION }}" name="{{ form.ID }}" id="{{ form.ID }}"
		  method="{{ form.METHOD|default:'POST' }}" {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>
	    {% if not form.METHOD or form.METHOD == "POST" %}
	       {% csrf_token %}
	    {% endif %}
	    {{ form.rendered }}
	    <div class="submit-row">
			<input type="submit" name="{{ form.ID }}" class="default" {% if form.SUBMIT_LABEL %}value="{{ form.SUBMIT_LABEL }}"{% endif %} />
			{% for eb in form.EXTRA_BUTTONS %}
                <input class="default" type="submit" name="{{ eb.name }}" value="{{ eb.value }}" />
			{% endfor %}
			{% if form.is_wizard %}
			     {% if form.step > 1 %}
			         <a class="btn default" href="javascript:history.back()">Voltar</a>
			     {% endif %}
			     <a class="btn default" href="?">Cancelar</a>
			{% endif %}
		</div>
	</form>
{% else %}
	{{ form.rendered }}
{% endif %}
