{% extends super_template %}
{% load djtools_templatetags %}
{% block content %}

	<h2>Atribuir Permissão</h2>
	{% if form %}
		{% render_form form %}
	{% endif %}
	{%  if usuarios %}
	<br>
	<h3 align="center">Confirmação do Dados</h3>
	<h4>Usuários</h4>
		<table>
	    <thead>
			<tr>
				<th>Login</th>
				<th>Nome do Usuário</th>
	    	</tr>
		</thead>
	    <tbody>
	      {%  if lista_usuarios %}
		  {%  for usuario in lista_usuarios_nao_identificados %}
	            <tr>
	            	<td width="20px">{{ usuario }}</td>
					<td><font color="red">Não localizado</font></td>
	            </tr>
	        {% endfor %}
	        {%  for usuario in lista_usuarios %}
	            <tr>
	            	<td width="20px">{{ usuario.username }}</td>
					<td>{{ usuario.first_name }} {{ usuario.last_name }}</td>
	            </tr>
	        {% endfor %}
			{% else %}
		  	<tr><td colspan="1"><center>Nenhum usuário especificado</center></td></tr>
		  {% endif %}
	    </tbody>
	</table>
	
	<h3>Grupos</h3>
		<table>
	    <thead>
			<tr>
				<th>Grupo</th>
	    	</tr>
		</thead>
	    <tbody>
	      {%  if grupos %}
	        {%  for grupo in grupos %}
	            <tr>
	            	<td width="20px">{{ grupo }}</td>
	            </tr>
	        {% endfor %}
			{% else %}
		  	<tr><td colspan="1"><center>Nenhum grupo especificado</center></td></tr>
		  {% endif %}
	    </tbody>
	</table>

	<h3>Permissões</h3>
		<table>
	    <thead>
			<tr>
				<th>Descrição</th>
				<th>Identificador</th>
	    	</tr>
		</thead>
	    <tbody>
	      {%  if permissoes %}
	        {%  for permissao in permissoes %}
	            <tr>
					<td>{{ permissao.name }}</td>
					<td>{{ permissao.codename }}</td>
	            </tr>
	        {% endfor %}
			{% else %}
		  	<tr><td colspan="2"><center>Nenhuma permissão especificada</center></td></tr>
		  {% endif %}
	    </tbody>
	</table>
	
	<form action="" name="atribuirpermissao_form" id="atribuirpermissao_form" method="POST">
		{% csrf_token %}
		<input type="hidden" name='usuarios' value="{{ usuarios_str }}"/>
		<input type="hidden" name='grupos' value="{{ grupos_str }}"/>
		<input type="hidden" name='permissoes' value="{{ permissoes_str }}"/>
		<input type="hidden" name='confirmacao' value="1"/>
		<div id="ext-gen1129" class="submit-row">
			<input class="default" type="submit" value="Confirmar">
		</div>
	</form>

	
	{% endif %}
{% endblock %}