{% extends super_template %}

{% block content %}

<div class="msg help">
{{ item.description|safe }}
</div>


{% if item.groups %}
    {% box "Grupos" %}
    <p>A funcionalidade <strong>{{ item.name }}</strong> está disponível para usuários pertencentes ao(s) seguinte(s) grupo(s):</p>
    <ul>
        {% for group in item.groups %}
            <li>{{ group }}</li>
        {% endfor %}
    </ul>
    {% endbox %}
{% endif %}

{% if item.required_models %}
    {% box "Cadastros Prévios" %}
    <p>Os seguintes cadastros devem ter sido realizados para que a funcionalidade <strong>{{ item.name }}</strong> possa ser executada:</p>
    <ul>
        {% for required_model in item.required_models %}
            <li>{{ required_model }}</li>
        {% endfor %}
    </ul>
    {% endbox %}
{% endif %}

{% if item.conditions %}
    {% box "Pré-Condições" %}
    <p>Para que a funcionalidade <strong>{{ item.name }}</strong> possa ser executada, as seguintes pré-condições devem estar satisfeitas:</p>
    <ul>
        {% for condition in item.conditions %}
            <li>{{ condition }}</li>
        {% endfor %}
    </ul>
    {% endbox %}
{% endif %}

{% if required_to %}
    {% box "Necessário Para" %}
    <p>A funcionalidade <strong>{{ item.name }}</strong> é pré-requisito para que as seguintes funcionalidades sejam executadas:</p>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Grupos</th>
            </tr>
        </thead>
        <tbody>
            {% for sub_item in required_to %}
                <tr>
                    <td>
                        {% if sub_item.url %}
                            <a class="popup" data-reload-on-close="false" href="{{ sub_item.url }}"><strong>{{ sub_item.name }}</strong></a>
                        {% else %}
                            <strong>{{ sub_item.name }}</strong>
                        {% endif %}
                    </td>
                    <td>{{ sub_item.description }}</td>
                    <td>
                        {% for group in sub_item.groups %}
                            {% if forloop.first %}
                                {{ group }}
                            {% else %}
                                {% if forloop.last %}
                                    e {{ group }}
                                {% else %}
                                    , {{ group }}
                                {% endif %}
                             {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endbox %}
{% endif %}

{% if actions %}
    {% box "Ações" %}
    <p>Através dessa página é possível executar a(s) seguinte(s) funcionalidade(s):</p>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Grupos</th>
            </tr>
        </thead>
        <tbody>
            {% for sub_item in actions %}
                <tr>
                    <td>
                        {% if sub_item.url %}
                            <a class="popup" href="{{ sub_item.url }}"><strong>{{ sub_item.name }}</strong></a>
                        {% else %}
                            <strong>{{ sub_item.name }}</strong>
                        {% endif %}
                    </td>
                    <td>
                        <p>{{ sub_item.description }}</p>
                        {% if sub_item.tip  %}
                            <p><strong>Instrução: </strong><i>Para {{ sub_item.name|lower }}, {{ sub_item.tip }}</i></p></td>
                        {% endif %}
                    <td>
                        {% for group in sub_item.groups %}
                            {% if forloop.first %}
                                {{ group }}
                            {% else %}
                                {% if forloop.last %}
                                    e {{ group }}
                                {% else %}
                                    , {{ group }}
                                {% endif %}
                             {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endbox %}
{% endif %}

{% if item.detail %}
    {% box "Outras Informações" %}
    {{ item.detail }}
    {% endbox %}
{% endif %}

{% endblock %}
