{% extends super_template %}

{% block head %}
<script src="/static/djtools/highcharts/highcharts.js"></script>
<script src="/static/djtools/highcharts/exporting.js"></script>
<style>
    div.relatorio {
        border: 1px solid #555;
        margin: 1em
    }
    div.relatorio .titulo {
        padding: .5em;
        background: #E4EFF2
    }
</style>
<script>
    {{ grafico|safe }}
</script>
{% endblock %}

{% block content %}

<h2>{{ mensagem }}</h2>

{% box "{{ titulo }}" %}
<table>
	<thead>
		<tr>
			<th>#</th>
			{% for coluna in lista.0 %}
                <th>{{ coluna }}</th>
			{% endfor %}
		</tr>
	</thead>	
	<tbody>
	{% with lista|slice:"1:" as registros %}
    	{% for linha in registros %}
    		<tr>
    			<td>{{ forloop.counter }}</td>
    			{% for item in linha %}
    			    {% ifequal item 0 %}
    			        <td></td>
    			    {% else %}
    	                <td>{{ item|safe|format }}</td>
    	            {% endifequal %}
    			{% endfor %}		
    		</tr>
    	{% endfor %}
	{% endwith %}
	</tbody>
</table>
{% endbox %}
{% endblock %}
