<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>SUAP: {% block title %}Sistema Unificado de Administração Pública{% endblock %}</title>
<meta charset="utf-8">
<meta name="keywords" content="suap, administração, pública, mec, ifrn">
<meta content="SUAP: Sistema Unificado de Administração Pública" name="description">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE">{% endblock %}

{# Favicon #}
<link rel="shortcut icon" href="/static/comum/img/favicon.ico" />

{# CSS SUAP #}
<link rel="stylesheet" href="/static/comum/css/estilo.css" />
<link rel="stylesheet" href="/static/comum/css/forms.css" />
<link rel="stylesheet" href="/static/comum/css/hint.min.css" />

{# jQuery #}
<script src="/static/comum/js/jquery.min.js"></script>
<script src="/static/comum/js/main.js"></script>

{% block extrahead %}{% endblock %}
</head>

<body>
<section id="print">
    
    <div class="print-titulo">
        {% block titulo %}{% endblock %}
    </div>
    
    <div class="print-corpo">
        {% block corpo %}{% endblock %}
    </div>
    
    {% block content %}
        {% block object-tools %}{% endblock %}
        {{ content }}
    {% endblock %}

</section>
</body>
</html>