{% extends super_template %}

{% block extracss %}
<link rel="stylesheet" href="/static/comum/css/index.css" />
{% endblock %}

{% block extrahead %}
<script src="/static/djtools/highcharts/highcharts.js"></script>
<script src="/static/djtools/highcharts/exporting.js"></script>
{% endblock %}

{% block bodyclass %} index{% endblock %}

{% block buscar_menu %} autofocus{% endblock %}

{% block content %}

{% block content_title %}{% endblock %}

<div class="container">

    <div class="secao secao30 secao-left">

        {% if alertas or aluno or infos %}
            <h3>Notificações</h3>
            <ul class="modulo-avisos">
                {% for alerta in alertas %}
                    <li class="error">
                        <a href="{{ alerta.url }}">{{ alerta.titulo|safe }}</a>
                    </li>
                {% endfor %}
                {% if aluno and not aluno.pessoa_fisica.nome_usual %}
                    <li class="info"><a href="/edu/atualizar_meus_dados_pessoais/{{ aluno.matricula }}">Você ainda não possui um nome usual no sistema. Edite o seus dados pessoais.</a></li>
                {% endif %}
                {% for info in infos %}
                    <li class="info"><a href="{{ info.url }}">{{ info.titulo|safe }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if inscricoes %}
            <h3>Fique atento!</h3>
            <ul class="modulo-avisos">
                {% for inscricao in inscricoes %}
                    <li class="success">
                        <a href="{{ inscricao.url }}">
                            {{ inscricao.titulo|safe }}
                            {% if inscricao.prazo %}<span>Até {{ inscricao.prazo }}</span>{% endif %}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if calendario_mes %}
            <h3>Calendário Administrativo</h3>
            <div class="modulo modulo-info" id="calendario-administrativo">
                {{ calendario_mes|safe }}
                <div class="legenda">
                    <p>Legenda:</p>
                    <ul>
                        <li class="hoje">Hoje</li>
                        <li class="success">Férias</li>
                        <li class="feriado">Feriado</li>
                        <li class="recesso">Recesso</li>
                        <li class="evento">Evento/Data Comemorativa</li>
                    </ul>
                </div>
                {% if ponto %}
                    <a href="/ponto/calendario_administrativo/" class="btn default">Acessar calendário anual</a>
                {% endif %}
            </div>
        {% endif %}

        {% if aluno and calendario_academico %}
            <h3>Calendário Acadêmico</h3>
            <div class="modulo modulo-info" id="calendario-administrativo">
                {{ calendario_academico|safe }}
                <div class="legenda">
                    <p>Legenda:</p>
                    <ul>
                        <li class="hoje">Hoje</li>
                        <li class="feriado">Feriado</li>
                        <li class="recesso">Recesso</li>
                        <li class="evento">Evento/Data Comemorativa</li>
                    </ul>
                </div>
                <a href="/edu/calendarioacademico/{{ calendario_academico_pk }}/" class="btn default">Acessar calendário completo</a>
            </div>
        {% endif %}
    </div>

    {% if contadores %}
        <div class="secao secao70">
            <h3>Alertas</h3>
            <div class="flex-container">
                {% for contador in contadores %}
                    <div class="modulo-indicador">
                        <a href="{{ contador.url }}">
                            <h5>{{ contador.qtd }}</h5>
                            <h6>{{ contador.titulo }}</h6>
                            {% if contador.subtitulo %}<p>{{ contador.subtitulo }}</p>{% endif %}
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <div class="secao secao50">

        {% if aluno %}
            <h3>Atividades Estudantis</h3>
            <div class="flex-container">
                <div class="modulo modulo-info">
                    <h4>Ensino</h4>
                    <ul>
                        <li><a href="{{ aluno.get_absolute_url }}">Meus Dados</a></li>
                        <li><a href="/edu/minhas_avaliacoes">Minhas avaliações</a></li>
                        <li><a href="{{ aluno.get_absolute_url }}?tab=locais_aula_aluno">Locais e Horários de Aula</a></li>
                        {% if aluno.polo %}
                            <li><a href="/edu/meu_polo/">Polo {{ aluno.polo.descricao }}</a></li>
                        {% endif %}
                        <li><a href="/edu/salas_virtuais/">Turmas Virtuais</a></li>
                        <li><a href="/edu/visualizar_agenda_defesas/">Agenda de Defesas de TCC <span>{{ aluno_counter.projetos_finais }}</span></a></li>
                        {% if aluno_counter.pedidos_renovacao_pendente > 0 %}
                            <li><a href="{{ aluno.get_absolute_url }}?tab=pedidos">Renovação de Matrícula Pendentes <span>{{ aluno_counter.pedidos_renovacao_pendente }}</span></a></li>
                        {% endif %}
                    </ul>
                </div>
                <div class="modulo modulo-info">
                    <h4>Serviço Social</h4>
                    <ul>
                        <li><a href="ae/caracterizacao/">Realizar Caracterização Socioeconômica</a></li>
                        <li><a href="ae/identificacao_inscricao/">Inscrever-se em Programa Social</a></li>
                        <li><a href="{{ aluno.get_absolute_url }}?tab=atividades">Registro de Atividades</a></li>
                    </ul>
                </div>
                {% if aluno.email_academico %}
                    <div class="modulo modulo-info">
                        <h4>Serviços Microsoft</h4>
                        <ul>
                            <li><a href="/microsoft/redirecionar_aluno/office365/">E-mail Institucional</a></li>
                            <li><a href="/microsoft/redirecionar_aluno/dreamspark/">Dreamspark</a></li>
                        </ul>
                    </div>
                {% endif %}
                {% if projetos_aluno.exists %}
                    <div class="modulo modulo-info">
                        <h4>Meus Projetos de Extensão</h4>
                        <ul>
                            {% for projeto in projetos_aluno %}
                                <li><a href="/projetos/projeto/{{ projeto.pk }}/">{{ projeto.titulo }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                {% if pesquisa_aluno.exists %}
                    <div class="modulo modulo-info">
                        <h4>Meus Projetos de Pesquisa</h4>
                        <ul>
                            {% for projeto in pesquisa_aluno %}
                                <li><a href="/pesquisa/projeto/{{ projeto.pk }}/">{{ projeto.titulo }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        {% endif %}
        
        {{ periodo_letivo_atual.as_widget|safe }}

        {% if is_secretario_edu %}
            {% include "edu/templates/contexto_painel_controle.html" %}
        {% endif %}

        <h3>Serviços</h3>
        <div class="flex-container">
            {% if ponto.frequencias_hoje and not servidor.is_aposentado %}
                <div class="modulo modulo-info">
                    <h4>Frequências</h4>
                    <ul>
                        <li>
                            <a href="/ponto/frequencia_funcionario/" title="Acessar relatório de frequências">Frequências:
                                <strong>
                                {% for f in ponto.frequencias_hoje %}
                                    {{ f.horario|date:"H:i" }}
                                    {% if not forloop.last %} | {% endif %}
                                {% endfor %}
                                </strong>
                                {% if total_tempo_hoje %}
                                    <span class="text">Total: {{ total_tempo_hoje }}</span>
                                {% endif %}
                            </a>
                        </li>
                    </ul>
                </div>
            {% endif %}

            {% if professor %}
                <div class="modulo modulo-info">
                    <h4>Professor</h4>
                    <ul>
                        <li><a href="/edu/professor/{{ professor.pk }}/">Meus Dados</a></li>
                        <li><a href="/edu/locais_aula_professor/">Locais e Horários de Aula</a></li>
                        <li><a href="/edu/meus_diarios/">Meus Diários <span>{{ qtd_diarios }}</span></a></li>
                        <li><a href="/admin/edu/materialaula/">Materias de Aula <span>{{ qtd_materiais }}</span></a></li>
                        <li><a href="/edu/professor/{{ professor.pk }}/?tab=estagios">Orientações de Prática Profissional<span>{{ qtd_orientacoes_pratica_profissional }}</span></a></li>                       
                    </ul>
                </div>
            {% endif %}

            {% if eleicoes_abertas %}
                {% with tem_eleicoes_participacao=eleicoes_participacao.exists eleicoes_comprovante_voto=eleicoes_comprovante_voto %}
                    {% if tem_eleicoes_participacao or eleicoes_comprovante_voto or resultados_preliminares %}
                        <div class="modulo modulo-info">
                            <h4>Eleições</h4>
                            <ul>
                                {% if minhas_eleicoes %}
                                    <li><a href="/admin/eleicao/edital/">Gerenciar Eleições</a></li>
                                {% endif %}
                                {% if tem_eleicoes_participacao %}
                                    <li><a href="/eleicao/minhas_candidaturas/">Minhas Candidaturas</a></li>
                                {% endif %}
                                {% for eleicao in eleicoes_comprovante_voto %}
                                    <li><a href="/eleicao/votacao/{{ eleicao.id }}/">Comprovante de votação: <strong>{{ eleicao }}</strong></a></li>
                                {% endfor %}
                                {% for eleicao in resultados_preliminares %}
                                    <li><a href="/eleicao/resultado/{{ eleicao.id }}/">Resultado Preliminar: <strong>{{ eleicao }}</strong></a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                {% endwith %}
            {% endif %}

            {% if ae %}
                <div class="modulo modulo-info">
                    <h4>Assistência Estudantil</h4>
                    <ul>
                        {% for programa in ae.programas %}
                            <li><a href="ae/programa/{{ programa.pk }}/">{{ programa.get_tipo_display }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            {% if frota.agendar_viagens %}
                <div class="modulo modulo-info">
                    <h4>Frota</h4>
                    <ul>
                        <li><a href="/admin/frota/viagemagendamento/add/">Agendar Viagem</a></li>
                    </ul>
                </div>
            {% endif %}

            <div class="modulo modulo-info">
                <h4>Central de Serviços</h4>
                <a href="/centralservicos/selecionar_servico_abertura/" class="btn success">Abrir Chamado</a>
                <ul>
                    {% if meus_chamados.exists %}
                        <li><a href="/centralservicos/listar_chamados_usuario/">Meus Chamados Abertos</a></li>
                    {% endif %}
                    <li><a href="/centralservicos/perguntasfrequentes/">Perguntas Frequentes</a></li>                    
                </ul>
            </div>
        </div>

        {% if pds or tem_url_rss %}
            <h3>Últimas Notícias</h3>
            <div class="flex-container">
                {% if tem_url_rss %}
                    <div class="modulo">
                        <h4>Portal do IFRN</h4>
                        <div id="modulo-rss" class="modulo-noticias"></div>
                        <a href="http://portal.ifrn.edu.br/campus/reitoria/noticias" target="_blank" class="btn default">Mais notícias</a>
                        <script>
                            jQuery.ajax({
                                url: "/comum/feed_noticias/",
                                success: function(data) {
                                    jQuery('#modulo-rss').append(data);
                                },
                                dataType: "html"
                            });
                        </script>
                    </div>
                {% endif %}
                {% if pds %}
                    <div class="modulo">
                        <h4>Clipping</h4>
                        <div class="modulo-noticias">
                            <ul>
                                {% for publicacao in pds %}
                                    <li>
                                        <span>{{ publicacao.data|format }} - {{ publicacao.veiculo }} {{ publicacao.editorial }} - </span>
                                        <a href="{{ publicacao.get_link }}" target="_blank">{{ publicacao.titulo }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                            <a href="/clipping/" class="btn default">Mais notícias</a>
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endif %}

    </div>

    <div class="secao secao20 secao-right">

        <h3>Acesso Rápido</h3>
        <ul class="modulo-lista">
            <li><a href="/comum/setor_telefones/">Telefones</a></li>
            <li><a href="/comum/novidades/">Novidades</a></li>
            {% if is_habilita_modulo_visitantes %}
                <li><a href="/portaria/registro_acesso_campus/">Visitantes</a></li>
            {% endif %}
            {% if servidor %}
                {% if perms.rh.change_servidor %}
                    <li><a href="/admin/rh/servidor/?excluido__exact=0">Servidores</a></li>
                {% endif %}
                {% if perms.comum.change_prestadorservico %}
                    <li><a href="/admin/comum/prestadorservico/">Prestadores de Serviço</a></li>
                {% endif %}
                {% if perms.edu.change_aluno %}
                    <li><a href="/admin/edu/aluno/">Alunos</a></li>
                {% endif %}
                {% if perms.rh.change_setor %}
                    <li><a href="/admin/rh/setor/?excluido__exact=0">Setores</a></li>
                {% endif %}
                {% if user_can_gerenciar_grupo %}
                    <li><a href="/comum/gerenciamento_grupo/">Grupos e Usuários</a></li>
                {% endif %}
                {% if user.is_superuser %}
                    <li><a href="/comum/admin/">Configurações</a></li>
                {% endif %}
                {% if debug %}
                    <li><a href="/comum/guia/">Desenvolvimento</a></li>
                {% endif %}
            {% endif %}
            {% if perms.protocolo.change_processo %}
                <li><a href="/admin/protocolo/processo/">Processos</a></li>
            {% endif %}
        </ul>

        {% if servidor or servidor.tem_acesso_servicos_microsoft or user.get_profile.sub_instance.email_google_classroom %}
            <h3>Links Relacionados</h3>
            <ul class="modulo-lista">
                {% if servidor %}
                    <li><a href="{{ url_webmail }}" target="_blank">Webmail</a></li>
                    <li><a href="https://servicosdoservidor.planejamento.gov.br/web/portal-publico-sigepe/portal-do-servidor" target="_blank">SIGEPE</a></li>
                {% endif %}
                {% if servidor.tem_acesso_servicos_microsoft %}
                    <li><a href="/microsoft/redirecionar_servidor/dreamspark/" target="_blank">Dreamspark</a></li>
                {% endif %}
                {% if user.get_profile.sub_instance.email_google_classroom or is_usuario_google_classroom %}
                    <li><a href="/ldap_backend/redirecionar_google_classroom/" target="_blank">Google Sala de Aula</a></li>
                {% endif %}
            </ul>
        {% endif %}

        {% if user.get_profile.funcionario %}
            <h3>Manuais</h3>
            <ul class="modulo-lista">
                {% if perms.ae.change_demandaalunoatendida %}
                    <li><a href="/manuais/ae/servico_social/index.html">Atividades Estudantis: <strong>Serviço Social</strong></a></li>
                {% endif %}
                {% if 'Coordenador de Atividades Estudantis' in user_groups %}
                    <li><a href="/manuais/ae/coordenacao/index.html">Atividades Estudantis: <strong>Coordenação</strong></a></li>
                {% endif %}
                {% if pdi %}
                    <li><a href="/manuais/des_institucional/pdi/index.html">Desenvolvimento Institucional: <strong>PDI</strong></a></li>
                {% endif %}
                {% if projetos %}
                    <li><a href="/manuais/extensao/projetos/index.html">Extensão: <strong>Projetos</strong></a></li>
                {% endif %}
                {% if perms.arquivo.pode_fazer_upload_arquivo or perms.arquivo.pode_identificar_arquivo or perms.arquivo.pode_validar_arquivo %}
                    <li><a href="/manuais/rh/arquivo/index.html">Gestão de Pessoas: <strong>Arquivos</strong></a></li>
                {% endif %}
            </ul>
        {% endif %}

    </div>

</div>

{% endblock %}
