{% load i18n %}

<!DOCTYPE HTML>
<html lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>SUAP: Sistema Unificado de Administração Pública - Login</title>
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="/static/comum/img/favicon.png" />
<link type="text/css" rel="stylesheet" href="/static/comum/css/estilo.css" />
<link type="text/css" rel="stylesheet" href="/static/comum/css/forms.css" />
<link type="text/css" rel="stylesheet" href="/static/comum/css/login.css" />
<script src="/static/comum/js/jquery.min.js"></script>
<script>
$(document).ready(function() {
    $("#id_username").focus();
});
</script>
</head>

<body class="login">
<div class="snow">
    <div id="content">
        <div class="login-form">
            <h1>SUAP: Sistema Unificado de Administração Pública</h1>
            {% if form.errors and not form.non_field_errors and not form.this_is_the_login_form.errors %}
                <p class="errornote">
                    {% blocktrans count form.errors.items|length as counter %}Por favor, corrija o erro abaixo. {% plural %}Por favor, corrija os erros abaixo. {% endblocktrans %}
                </p>
            {% endif %}
            {% if messages %}
                {% for message in messages %}
                <p class="msg {{ message.tags }}" id="feedback_message">
                    {{ message|safe }}
                </p>
                {% endfor %}
            {% endif %}
            {% if form.non_field_errors or form.this_is_the_login_form.errors %}
                {% for error in form.non_field_errors %}
                    <p class="errornote">
                        {{ error }}
                    </p>
                {% endfor %}
            {% endif %}
            <form action="{{ app_path }}" method="post">{% csrf_token %}
                <div class="form-row">
                    {% if not form.this_is_the_login_form.errors %}{{ form.username.errors }}{% endif %}
                    <label for="id_username" class="required">Usuário:</label>
                    {{ form.username }}
                </div>
                <div class="form-row">
                    {% if not form.this_is_the_login_form.errors %}{{ form.password.errors }}{% endif %}
                    <label for="id_password" class="required">{% trans 'Password:' %}</label>
                    {{ form.password }}
                    <input type="hidden" name="this_is_the_login_form" value="1" />
                    <input type="hidden" name="next" value="{{ next }}" />
                </div>                
                <div class="submit-row">
                    <input type="submit" value="{% trans 'Log in' %}" />
                </div>
                <div class="form-row">
                    <a href="/comum/solicitar_trocar_senha/">Esqueceu sua senha?</a>
                </div>
            </form>
        </div>
        <div class="login-services">
            <h3>Serviços</h3>
            <ul>
                <li class="icon-protocolo"><a href="/protocolo/consulta_publica">Consulta de processos</a></li>
                <li class="icon-senha"><a href="/comum/solicitar_trocar_senha/">Troca de senha</a></li>
                <li class="icon-certificado"><a href="/edu/solicitar_certificado_enem/">Solicitação de Certificado ENEM</a></li>
                <li class="icon-documento"><a href="/comum/autenticar_documento/">Autenticação de documento</a></li>
            </ul>
        </div>
    </div>
    <div class="login-footer">
        <p>&copy; 2015 SUAP | Desenvolvimento: <a href="http://portal.ifrn.edu.br">IFRN</a></p>
    </div>
    <p>Feliz<span>Natal</span></p>
</div>
</body>
</html>
