
{% extends super_template|default:"admin/base_site.html" %}

{% load djtools_templatetags %}

{% block content %}
    <script>
        function __filtrar__(value){
            jQuery("#__x__ tbody tr").hide();
            jQuery("tr:icontains('"+value+"')").show();
        }
    </script>
	<h2>Marque as opçãos desejadas</h2>
	
	<div class="submit-row" align="right">
   		<input type="submit" value="Confirmar" onclick="javascript:x()"/>
   	</div>
   	
    <div class="action-bar search-and-filters">
        <div class="filter">
            <label>Filtro:</label>
            <input type="text" id="filter_for_{{ name }}" onkeyup="__filtrar__(this.value)"/>
        </div>
    </div>
   	
	<div id="__x__">
	<table>
		<thead>
			<tr>
				<th width="20px"><input type="checkbox" value="0" onclick="y(this);"/></th>
				<th>{{ titulo }}</th>
			</tr>
		</thead>
		<tbody>
			{% for obj in qs %}
			<tr>
				<td><input type="checkbox" value="{{ obj.pk }}" title="{{ obj }}" {% if obj.checked_ %}checked{% endif %}/></td>
				<td>{{ obj }}</td>
			</tr>
			 {% endfor %}
		</tbody>
	</table>
	<script>
		function y(input){
			var inputs = document.getElementById('__x__').getElementsByTagName('input');
			for(var i=0; i<inputs.length; i++){				
				if(input.checked){
					inputs[i].checked = true;
				} else {
					inputs[i].checked = false;
				}
			}
		}
		function x(){
			var inputs = document.getElementById('__x__').getElementsByTagName('input');
			var s = '';
			var ss = '';
			for(var i=0; i<inputs.length; i++){				
				if(inputs[i].checked && inputs[i].value > 0){
					if(s==''){
						s = inputs[i].value;
						ss = inputs[i].title;
					} else {
						s += ';' + inputs[i].value;
						ss += ', ' + inputs[i].title;
					}
				}
			}
			document.getElementById('id_{{ name }}').value = s;
			document.getElementById('__{{ name }}__').value = ss;
			TINY.box.hide();
		}
		document.getElementById("filter_for_{{ name }}").focus();
		
	</script>
	</div>
	<br>
	{% if qs.count > 10 %}
	<div class="submit-row" align="right">
   		<input type="submit" value="Confirmar" onclick="javascript:x()"/>
   	</div>
	{% endif %}
{% endblock %}
