<script>
    if(!window['options']){
        options = {};
    }
    options["{{name}}"] = {{ options|safe }};
    function get_params(){
        if(options["{{name}}"]["form_parameter_names"] != undefined){
            vetor = options["{{name}}"]["form_parameter_names"].split(",");
            vetor_pks = [];
            for ( i in vetor ){
                //Autocomplete tem dois inputs com mesmo name, um deles hidden
                if($("input[name$="+vetor[i].toString()+"]").size()==2){
                    vetor_pks[i] = $("#hidden_"+vetor[i].toString()).val(); 
                }
                //input comum
                if($("input[name$="+vetor[i].toString()+"]").size()==1){
                    vetor_pks[i] = $("input[name$="+vetor[i].toString()+"]").val().toString();
                }
                //para funcionar com um select
                if($("select[name$="+vetor[i].toString()+"]").size()==1){
                    vetor_pks[i] = $("select[name$="+vetor[i].toString()+"]").val().toString();
                }
            }
            options["{{name}}"]["filter_pks"] = vetor_pks.toString();
        }
        params = '';
        if(options["{{name}}"]["filter_pks"] && options["{{name}}"]["django_filter_names"]){
            params += 'filter_pks='+options["{{name}}"]["filter_pks"];
            params += '&django_filter_names='+options["{{name}}"]["django_filter_names"];   
        }
        return params;
    }
</script>


<input type="hidden" id="id_{{ name }}" name="{{ name }}" value="{{ s }}"/>
<input type="text" value="{{ ss }}" id="__{{ name }}__" style="width:480px;background-color:#EFFBE7 !important" readonly="true"/>
<a class="btn primary" href="javascript:popup('/djtools/popup_choice_field/{{ name }}/'+document.getElementById('id_{{ name }}').value+'/?'+get_params(), 1000, 400, '{{ qs }}', false);">...</a>