{% load django_tables2 %}
{% load i18n %}

{% load pagination_tags %}

{% block table.report %}
{% if table.is_configured %}
<ul class="action-bar">
	{% for label, format in table.formats %}
	<li>
		<a href="{% querystring table.param_report=format %}">Gerar {{ format.upper }}</a>
	</li>
	{% endfor %}
</ul>
{% endif %}
{% endblock table.report %}

{% block table %}
{% autopaginate table.rows as rows table.per_page_field %}

{% if table.rows.data.queryset.count <= table.per_page_field %}
<ul class="pagination">
	<li class="disabled">
		Total de {{ table.rows.data.queryset.count }} itens
	</li>
</ul>
{% else %}
{% paginate %}
{% endif %}

<table {% if table.attrs %}{{ table.attrs.as_html }}{% endif %}>
	<thead>
		<tr>
			{% for column in table.columns %}
			{% if column.orderable %}
			<th {{ column.attrs.th.as_html }}><a href="{% querystring table.prefixed_order_by_field=column.order_by_alias.next %}">{{ column.header|format }}</a></th>
			{% else %}
			<th {{ column.attrs.th.as_html }}>{{ column.header|format }}</th>
			{% endif %}
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		{% for row in rows %}
		{% block table.tbody.row %}
		<tr>
			{% for column, cell in row.items %}
			<td {{ column.attrs.td.as_html }}> {% if column.localize == None %}
			{{ cell|format }}
			{% else %}
			{% if column.localize %}
			{{ cell|localize|format }}
			{% else %}
			{{ cell|unlocalize|format }}
			{% endif %}
			{% endif %}</td>
			{% endfor %}
		</tr>
		{% endblock table.tbody.row %}
		{% empty %}
		{% if table.empty_text %}
		{% block table.tbody.empty_text %}
		<tr>
			<td colspan="{{ table.columns|length }}">{{ table.empty_text }}</td>
		</tr>
		{% endblock table.tbody.empty_text %}
		{% endif %}
		{% endfor %}
	</tbody>
	{% if table.tfoot_sum %}
	<tfoot>
		<tr>
			{% for column in table.get_foot_collumns %}
			{% if column %}
			<td>{{ column|format }} </td>
			{% else %}
			<td>&nbsp;</td>
			{% endif %}
			{% endfor %}
		</tr>
	</tfoot>
	{% endif %}
</table>

{% if table.rows.data.queryset.count <= table.per_page_field %}
<ul class="pagination">
    <li class="disabled">
        Total de {{ table.rows.data.queryset.count }} itens
    </li>
</ul>
{% else %}
{% paginate %}
{% endif %}
{% endblock table %}
