{% load i18n %}
{% if paginator.count %}
<ul class="pagination">
	<li class="disabled">
		Total de {{ paginator.count }} ite{{ paginator.count|pluralize:"m,ns" }}
	</li>
    {% if is_paginated %}
        <li class="disabled">
             |
        </li>
        {% if page_obj.has_previous %}
            <li class="prev">
                <a href="?page={{ page_obj.previous_page_number }}{{ getvars }}">
                    &lsaquo;&lsaquo; {% trans "previous" %}
                </a>
            </li>
        {% else %}
            <li class="prev disabled">
                &lsaquo;&lsaquo; {% trans "previous" %}
           </li>
        {% endif %}
        {% for page in pages %}
            {% if page %}
                {% ifequal page page_obj.number %}
                    <li class="active">
                        <a href="#">{{ page }}</a>
                    </li>
                {% else %}
                    <li>
                        <a href="?page={{ page }}{{ getvars }}">
                            {{ page }}
                        </a>
                    </li>
                {% endifequal %}
            {% else %}
                <li><a href="#">...</a></li>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li class="next">
                <a href="?page={{ page_obj.next_page_number }}{{ getvars }}">
                    {% trans "next" %} &rsaquo;&rsaquo;
                </a>
            </li>
        {% else %}
            <li class="next disabled">
                {% trans "next" %} &rsaquo;&rsaquo;
            </li>
        {% endif %}
    {% endif %}
</ul>
{% endif %}
