		<!-- 1. Add these JavaScript inclusions in the head of your page -->
		<script src="/static/djtools/highcharts/highcharts.js"></script>

		
		<!-- 1a) Optional: the exporting module -->
		<script src="/static/djtools/highcharts/exporting.js"></script>
		
		
		<!-- 2. Add the JavaScript to initialize the chart on document ready -->
		<script>
		
			chart;
			$(document).ready(function() {
				chart = new Highcharts.Chart({
					chart: {
						renderTo: '{{ g.titulo }}2D',
						defaultSeriesType: '{{ g.tipo }}',
					},
					title: {
						text: '{{ g.titulo }}'
					},
					subtitle: {
						text: '{{ g.subtitulo }}'
					},
					xAxis: {
						categories: {{ g.categorias|safe }}
					},
					yAxis: {
						title: {
							text: '{{ g.titulo_eixo }}'
						},
						plotLines: [{
							value: 0,
							width: 1,
							color: '#808080'
						}]
					},
					tooltip: {
						formatter: function() {
				                return '{{ g.formatacao_tooltip|safe }}';
						}
					},
					legend: {
						layout: '{{ g.orientacao_legenda }}',
						style: {
							left: '{{ g.legenda_x }} px',
							top: '{{ g.lengeda_y }} px'
						}
					},
					series: [
						{% for serie in g.series %}
						{
							name: '{{ serie.0 }}',
							data: {{ serie.1 }}
						},
						{% endfor %}
					]
				});
				
				
			});
				
		</script>
		
	</head>
	<body>
		
		<!-- 3. Add the container -->
		<div id="{{ g.titulo }}2D" style="width: {{ g.comprimento }}px; height: {{ g.altura }}px, margin:auto"></div>
